* {
  -webkit-tap-highlight-color: transparent;
}
#root {
  width: clamp(320px, 100%, 970px);
  margin: 0 auto;
  padding: 1rem;
  min-height: 100vh;
}

@media screen and (max-width: 975px) {
  #root {
    padding: 0;
  }
  #home,
  #favorites,
  #about {
    padding: 0.7rem;
  }
  .post {
    margin-top: 0;
    border-radius: 0 !important;
  }
  .post > img {
    border-radius: 0;
  }
}
