* {
  -webkit-tap-highlight-color: transparent;
}
#root {
  width: clamp(320px, 100%, 970px);
  margin: 0 auto;
  padding: 1rem;
  min-height: 100vh;
}
#favorites {
  display: flex;
  justify-content: center;
}
pre {
  background: #272727;
  overflow-x: auto;
  padding: 10px;
  border-radius: 10px;
}

@media screen and (max-width: 975px) {
  #root {
    padding: 0;
  }
  #home,
  #favorites,
  #about {
    padding: 0.7rem;
  }
}
